<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="tests" preserve-order ="false"  thread-count="100" >
   
	<test name="Actvation">
		<classes>
			<class name="ilab.gui.tests.Test_Web_Hotels"/>
		</classes>
	</test>

</suite> <!-- Suite -->
